
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">DASHBOARD page</h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <a href="/logout" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Deconnecter</a>
        </div>
    </div>
    <!-- /.row -->
    <!-- .row -->
    <div class="row">
      <div class="col-md-11 col-xs-12">
        <div class="white-box">
          <ul class="nav customtab nav-tabs" role="tablist">
            <li role="presentation" class="nav-item"><a href="#home" (click)="eventService.clean()" class="nav-link active" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true"><span class="visible-xs"></span><span class="hidden-xs"> Activity</span></a></li>
            <li role="presentation" class="nav-item"><a href="#profile" (click)="eventService.clean()" class="nav-link" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"></span> <span class="hidden-xs">Profile</span></a></li>
            <li role="presentation" class="nav-item"><a href="#messages" (click)="eventService.clean()" class="nav-link" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"></span> <span class="hidden-xs">Message</span></a></li>
            <li role="presentation" class="nav-item"><a href="#settings" class="nav-link" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"></span> <span class="hidden-xs">address</span></a></li>
            <li  role="presentation" class="nav-item"><a href="#createEv" (click)="eventService.clean()" class="nav-link" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><span  class="visible-xs"></span> <span class="hidden-xs" >crée evenement</span></a></li>
            <li  role="presentation" class="nav-item"><a href="#Utilisateur" (click)="eventService.clean()" class="nav-link" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><span  class="visible-xs"></span> <span class="hidden-xs" >Utilisateur</span></a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <app-evenement></app-evenement>
            </div>
            <div class="tab-pane" id="profile">
              <app-profil></app-profil>
            </div>
            <div class="tab-pane" id="messages">
              <app-invitation></app-invitation>
            </div>
            <div class="tab-pane" id="settings">
            <app-create-address></app-create-address>
            </div>
            <div class="tab-pane" id="createEv">
              <app-create-evenement></app-create-evenement>
            </div>
            <div class="tab-pane" id="Utilisateur">
              <app-users></app-users>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- /.right-sidebar -->
  </div>
  <!-- /.container-fluid -->
  <footer class="footer text-center"> 2017 &copy; Elite Admin brought to you by themedesigner.in </footer>
</div>
