<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form method="Post">
    Email : <input type="text" name="email">
    Mot de passe :<input type="text" name="password">
    nom : <input type="text" name="nom">
    prenom : <input type="text" name="prenom">
    age : <input type="number" name="age" >
    sex : Homme <input type="radio" name="sex" value="homme">
          Femme <input type="radio" name="sex" value="femme">
    <button>envoyer</button>
</form>

</body>
</html>