<div *ngIf="MessageAcc != null" class=" label label-success">{{MessageAcc}}</div>
<div class="row">
  <div class="col-md-3 col-xs-6 b-r"> <strong>Nom </strong>
    <br>
    <p class="text-muted">{{currentUser?.nom}} </p>
  </div>
  <div class="col-md-3 col-xs-6"> <strong>Prenom</strong>
    <br>
    <p class="text-muted">{{currentUser?.prenom}}</p>
  </div>
  <div class="col-md-3 col-xs-6 b-r"> <strong>Email</strong>
    <br>
    <p class="text-muted">{{currentUser?.email}}</p>
  </div>
  <div class="col-md-3 col-xs-6"> <strong>Age</strong>
    <br>
    <p class="text-muted">{{currentUser?.age}}</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-12">
    <div class="white-box">
      <h3 class="box-title m-b-0">Vos Evenements</h3>
      <p class="text-muted m-b-20">Les Evenements toujours actif Que vous avez crées : </p>
      <table class="table m-b-0 toggle-arrow-tiny">
        <thead>
        <tr>
          <th>Description </th>
          <th>Date </th>
          <th>nombre Participant </th>
          <th>Centre Interet  </th>
          <th>Status </th>
          <th>Supprimer</th>
        </tr>
        </thead>
        <tbody *ngIf="eventActif == null">
        <tr>
          <p>vous avez pas d'evenement</p>
        </tr>
        </tbody>
        <tbody *ngFor="let event of eventActif">
        <tr>
          <td>{{ event.Description }}</td>
          <td>{{ event.date}}</td>
          <td>{{ event.users_participate.length}} / {{event.NbrParticipant - 1}}</td>
          <td>{{ event.centreInt.Name}}</td>
          <td *ngIf="event.etat === 'Invitation'"><span class="label label-table label-danger">{{event.etat}}</span></td>
          <td *ngIf="event.etat === 'AttendAcceptation'"><span class="label label-table label-danger">{{event.etat}}</span></td>
          <td *ngIf="event.etat === 'Complet'"><span class="label label-table label-success">{{event.etat}}</span></td>
          <td *ngIf="event.etat === 'Expirer'"><span class="label label-table label-inverse">{{event.etat}}</span></td>
          <td (click)="DeleteEvent(event.id)"><a><span class="text-danger">X</span></a></td>
        </tr>
        <tr *ngFor="let place of PlaceDetails">
          <div *ngIf="event?.Lieu == place?.result?.place_id" class="m-t-20 row">
              <div class="col-md-4 col-xs-12">
                <img *ngIf="place.result.photos != null" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{place.result.photos[0]?.photo_reference}}&key=AIzaSyCCP9mY6YG5WyvRqftQQdavXQW6Rm4u9es" alt="user" class="img-responsive" style="height: 150px;width: 150px"  />
                <img *ngIf="place.result.photos == null" src="../../assets/image-not-found-1.png" alt="user" class="img-responsive" style="height: 150px;width: 150px"  /></div>
              <div class="col-md-8 col-xs-12">
                <p>  {{place?.result.name}}  </p>
                <p><strong>Rating :</strong>{{place?.result.rating}}/5</p>
                <p><strong>Address :</strong> {{place?.result.vicinity}} </p>
              </div>
          </div>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="white-box">
      <h3 class="box-title m-b-0">Vos Participations</h3>
      <p class="text-muted m-b-20">vos Participations toujours actif Que vous avez crées : </p>
      <table class="table m-b-0 toggle-arrow-tiny">
        <thead>
        <tr>
          <th>Description </th>
          <th>Date </th>
          <th>nombre Participant </th>
          <th>Centre Interet  </th>
          <th>Status </th>
          <th>Supprimer</th>
        </tr>
        </thead>
        <tbody *ngIf="eventParic == null">
        <tr>
          <p>vous avez pas de Participation</p>
        </tr>
        </tbody>
        <tbody *ngFor="let event of eventParic">
        <tr>
          <td>{{ event.Description }}</td>
          <td>{{ event.date}}</td>
          <td>{{ event.users_participate.length}} / {{event.NbrParticipant - 1}}</td>
          <td>{{ event.centreInt.Name}}</td>
          <td *ngIf="event.etat === 'Invitation'"><span class="label label-table label-danger">{{event.etat}}</span></td>
          <td *ngIf="event.etat === 'AttendAcceptation'"><span class="label label-table label-danger">{{event.etat}}</span></td>
          <td *ngIf="event.etat === 'Complet'"><span class="label label-table label-success">{{event.etat}}</span></td>
          <td *ngIf="event.etat === 'Expirer'"><span class="label label-table label-inverse">{{event.etat}}</span></td>
          <td (click)="DeleteParticipation(event.id)"><a><span class="text-danger">X</span></a></td>
        </tr>
        <tr *ngFor="let place of PlaceDeatils">
          <div *ngIf="event?.Lieu == place?.result?.place_id" class="m-t-20 row">
              <div class="col-md-6 col-xs-12">
                <img *ngIf="place.result.photos != null" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{place.result.photos[0]?.photo_reference}}&key=AIzaSyCCP9mY6YG5WyvRqftQQdavXQW6Rm4u9es" alt="user" class="img-responsive" style="height: 150px;width: 150px"  />
                <img *ngIf="place.result.photos == null" src="../../assets/image-not-found-1.png" alt="user" class="img-responsive" style="height: 150px;width: 150px"  /></div>
              <div class="col-md-6 col-xs-12">
                <p>  {{place?.result.name}}  </p>
                <p><strong>Rating :</strong>{{place?.result.rating}}/5</p>
                <p><strong>Address :</strong> {{place?.result.vicinity}} </p>
              </div>
            </div>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
