
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Admin page</h4>
      </div>
      <div class="col-lg-6 col-sm-8 col-md-8 col-xs-12">
        <a href="/logout" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Deconnecter</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="white-box">
          <div *ngIf="MessageConf != null" class=" label label-success">{{MessageConf}}</div>
          <h3 class="box-title m-b-0">Signal Compte</h3>
          <table class="table m-b-0 toggle-arrow-tiny">
            <thead>
            <tr>
              <th>Créateur </th>
              <th>A signaler </th>
              <th>Motif </th>
              <th>Signaler </th>
            </tr>
            </thead>
            <tbody *ngFor="let Sign of listSignalCompte">
            <tr>
              <td>{{ Sign.user_create_signal.email }}</td>
              <td>{{ Sign.user_signal.email}}</td>
              <td>{{ Sign.Name}}</td>
              <td (click)="ConfirmSignalCompte(Sign.user_signal?.email)"><a><span class="text-danger">X</span></a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->
  <footer class="footer text-center"> 2017 &copy; Elite Admin brought to you by themedesigner.in </footer>
</div>
