<div class="steamline">
  <hr>
  <div >
  <div class="sl-item">
    <div >
      <div class="m-l-40"> <a href="#" class="text-info">John Doe</a> <span class="sl-date">5 minutes ago</span>
        <div class="m-t-20 row">
          <div class="col-md-2 col-xs-12"><img src="" alt="user" class="img-responsive" /></div>
          <div class="col-md-9 col-xs-12">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa</p>
            <a href="#" class="btn btn-info pull-2"> Design weblayout</a><br>
            <a href="#" class="btn btn-success pull-right"> Design weblayout</a>
          </div>
        </div>
        <div class="m-t-20 row" >
          <div class="col-md-2 col-xs-12"></div>
          <div class="col-md-9 col-xs-12">
            <div>
              <div class="col-md-4 col-xs-12">
                <div><strong>distance : </strong><p> 33 KM</p></div>
                <div><strong>distance : </strong><p> 33 KM</p></div>
              </div>
              <div class="col-md-7 col-xs-12">
                <strong>Trajet :  </strong>
                <p>
                  <span> > </span>
                  <span> <img src="test"> </span>
                  <span> > </span>
                  <span style="background-color: #bb0a23"> test </span>
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <hr>
  <div class="sl-item">
    <div>
      <div class="m-l-40"><a href="#" class="text-info">John Doe</a> <span class="sl-date">5 minutes ago</span>
      <div class="m-t-20">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper </p>
         <div class="col-md-9 col-xs-12">
           <input type="text" class="form-control form-control-line" placeholder="Saisie Address">
         </div>
         <div class="col-md-2 col-xs-12">
           <a class="btn btn-success">Rechercher Place </a>
         </div>
       </div>
      <div class="m-l-20"> <a href="#" class="text-info">John Doe</a> <span class="sl-date">5 minutes ago</span>
          <div class="m-t-20 row">
            <div class="col-md-2 col-xs-12"><img src="" alt="user" class="img-responsive" /></div>
            <div class="col-md-9 col-xs-12">
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa</p>
              <a class="btn btn-info pull-2" [class.disabled]="isClickedOnce" (click)="isClickedOnce = true"> Design weblayout</a><br>
            </div>
          </div>
          <div class="m-t-20 row" >
            <div class="col-md-2 col-xs-12"></div>
            <div class="col-md-9 col-xs-12">
              <div>
                <div class="col-md-4 col-xs-12">
                  <div><strong>distance : </strong><p> 33 KM</p></div>
                  <div><strong>distance : </strong><p> 33 KM</p></div>
                </div>
                <div class="col-md-7 col-xs-12">
                  <strong>Trajet :  </strong>
                  <p>
                    <span> > </span>
                    <span> <img src="test"> </span>
                    <span> > </span>
                    <span style="background-color: #bb0a23"> test </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m-l-20"> <a href="#" class="text-info">John Doe</a> <span class="sl-date">5 minutes ago</span>
          <div class="m-t-20 row">
            <div class="col-md-2 col-xs-12"><img src="" alt="user" class="img-responsive" /></div>
            <div class="col-md-9 col-xs-12">
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa</p>
              <a class="btn btn-info pull-2" [class.disabled]="isClickedOnce" (click)="isClickedOnce = true"> Design weblayout</a><br>
            </div>
          </div>
          <div class="m-t-20 row" >
            <div class="col-md-2 col-xs-12"></div>
            <div class="col-md-9 col-xs-12">
              <div>
                <div class="col-md-4 col-xs-12">
                  <div><strong>distance : </strong><p> 33 KM</p></div>
                  <div><strong>distance : </strong><p> 33 KM</p></div>
                </div>
                <div class="col-md-7 col-xs-12">
                  <strong>Trajet :  </strong>
                  <p>
                    <span> > </span>
                    <span> <img src="test"> </span>
                    <span> > </span>
                    <span style="background-color: #bb0a23"> test </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m-l-20"> <a href="#" class="text-info">John Doe</a> <span class="sl-date">5 minutes ago</span>
          <div class="m-t-20 row">
            <div class="col-md-2 col-xs-12"><img src="" alt="user" class="img-responsive" /></div>
            <div class="col-md-9 col-xs-12">
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa</p>
              <a class="btn btn-info pull-2" [class.disabled]="isClickedOnce" (click)="isClickedOnce = true"> Design weblayout</a><br>
            </div>
          </div>
          <div class="m-t-20 row" >
            <div class="col-md-2 col-xs-12"></div>
            <div class="col-md-9 col-xs-12">
              <div>
                <div class="col-md-4 col-xs-12">
                  <div><strong>distance : </strong><p> 33 KM</p></div>
                  <div><strong>distance : </strong><p> 33 KM</p></div>
                </div>
                <div class="col-md-7 col-xs-12">
                  <strong>Trajet :  </strong>
                  <p>
                    <span> > </span>
                    <span> <img src="test"> </span>
                    <span> > </span>
                    <span style="background-color: #bb0a23"> test </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <hr>
  </div>
</div>
