<div *ngIf="MessageAcc != null" class=" label label-success">{{MessageAcc}}</div>
<div class="row">
  <div class="col-lg-12">
    <div class="white-box">
      <h3 class="box-title m-b-0">Les utilisateures</h3>
      <table class="table m-b-0 toggle-arrow-tiny">
        <thead>
        <tr>
          <th>Email </th>
          <th>Nom </th>
          <th>Prenom </th>
          <th>Age  </th>
          <th>Signaler </th>
        </tr>
        </thead>
        <tbody *ngFor="let user of AllUsers">
        <tr>
          <td>{{ user.email }}</td>
          <td>{{ user.nom}}</td>
          <td>{{ user.prenom}}</td>
          <td>{{ user.age}}</td>
           <td (click)="affiche(user.id)"><i class="fa fa-sign-out text-danger"></i></td>
        </tr>
        <tr *ngIf="user.id == Affiche">
          <div class="m-t-30">
            <input type="text" #Description class="form-control form-control-line col-md-9" placeholder="Motif">
            <a (click)="SignalCompte(user.nom,user.prenom,Description.value)" class="btn btn-primary col-md-2"> Signaler</a>
          </div>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
